{% extends "base.html" %}

{% block content %}
    <div class="container owner_car">
    <h2>Automobilis: {{ order.owner_car }}</h2>
    <hr/>
    <p>Terminas: {{ order.due_date }}</p>
    </hr>
    </br>
    </div>
    <h4>Eilutės:</h4>
    {% for line in order.lines.all %}
      <hr>
      <p>
        {{ line.service }} - {{ line.qty }}
      </p>
    {% endfor %}
</br>
  <h4>Komentarai:</h4>
  {% if order.ordercomment_set.all %}
    {% for commment in order.ordercomment_set.all %}
      <hr>
      <strong>{{ commment.user }}</strong>, <em>{{ commment.date_created}}</em>
      <p>{{ commment.content }}</p>
    {% endfor %}
  {% else %}
    <p>Nėra komentarų</p>
  {% endif %}

{% endblock %}