{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h1>{% trans "Orders list" %}</h1>
{% if order_list %}
<div class="row">
    {% for order in order_list %}
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="card mb-4 shadow-sm">
            <img class="rounded-circle account-img" src="{{ order.owner_car.owner.profile.photo.url }}">
            <div class="card-body">
                <a href="{{ order.id }}">{{ order.owner_car }}</a> ({{order.due_date}})
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>{% trans "No orders" %}</p>
{% endif %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; {% trans "first" %}</a>
            <a href="?page={{ page_obj.previous_page_number }}">{% trans "back" %}</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} iš {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">{% trans "last" %} &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}