{% extends "base.html" %}

{% block content %}
  <h1>Automobiliai</h1>
  <p>Mūsų aptarnaujamų automobilių sąrašas.</p>
  {% for c in cars %}
    <li><a href="{% url 'owner_car' c.id %}">{{c.car}} {{c.owner}}</a></li>
{% endfor %}
<div class="container puslapiai">
    <nav aria-label="...">
        {% if cars.has_other_pages %}
            <ul class="pagination pagination-sm justify-content-end">
                {% for i in cars.paginator.page_range %}
                    {% if cars.number == i %}
                        <li class="page-item active">
                            <a class="page-link">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </nav>
</div>
{% endblock %}