{% extends "base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
    <div class="container owner_car">
      {% if owner_car.photo %}
            <img src="{{ owner_car.photo.url }}" class="card-img-top" alt="...">
      {% else %}
            <img src="{% static 'img/no-image.png' %}" class="card-img-top">
      {% endif %}
    <h2>{% trans "Vehicle:" %} {{ owner_car.car }}</h2>
    <hr/>
    <p>{% trans "Owner:" %} {{ owner_car.owner }}</p>
        <hr/>
    <p>{% trans "Year:" %} {{ owner_car.year }}</p>
        <hr/>
    <p>{% trans "Licence Plate:" %} {{ owner_car.licence_plate }}</p>
        <hr/>
    <p>{% trans "VIN code:" %} {{ owner_car.vin_code }}</p>
        <hr/>
    </hr>
    </br>
    <p>{{ owner_car.description | safe }}</p>
    </div>
{% endblock %}