{% extends "base.html" %}

{% block content %}
{% load static %}
    <div class="container owner_car">
      {% if owner_car.photo %}
            <img src="{{ owner_car.photo.url }}" class="card-img-top" alt="...">
      {% else %}
            <img src="{% static 'img/no-image.png' %}" class="card-img-top">
      {% endif %}
    <h2>Automobilis: {{ owner_car.car }}</h2>
    <hr/>
    <p>Savininkas: {{ owner_car.owner }}</p>
        <hr/>
    <p>Metai: {{ owner_car.year }}</p>
        <hr/>
    <p>Valstybinis numeris: {{ owner_car.licence_plate }}</p>
        <hr/>
    <p>VIN kodas: {{ owner_car.vin_code }}</p>
        <hr/>
    </hr>
    </br>
    <p>{{ owner_car.description | safe }}</p>
    </div>
{% endblock %}