{% extends "base.html" %}
{% block content %}
{% load i18n %}
<h1>{% trans "My Orders" %}</h1>
<a class="btn btn-primary" href="{% url 'my_order-new'%}" role="button">{% trans "New Order" %}</a>
<hr/>
{% if orders %}
<ul>
    {% for order in orders %}
    <li class="{% if order.is_overdue %}text-danger{% endif %}">
        {% if order.owner_car.photo %}
        <div><img class="" src="{{order.owner_car.photo.url}}"></div>
        {% endif %}
        <a>{{ order.owner_car }} ({{order.due_date}}) </a>
        <a class="btn btn-primary" href="{{ order.pk }}" role="button">Peržiūrėti</a>
        <hr/>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>{% trans "You have no orders." %}</p>
{% endif %}
{% endblock %}
