{% extends "base.html" %}
{% block content %}
{% load i18n %}
<h1>{% trans "My Orders" %}</h1>

{% if orders %}
<ul>
    {% for order in orders %}
    {% if order.owner_car.photo %}
    <img class="rounded-circle" src="{{order.owner_car.photo.url}}">
    {% endif %}
    <li class="{% if order.is_overdue %}text-danger{% endif %}">
        <a>{{ order.owner_car }} ({{order.due_date}}) </a>
        <a class="btn btn-primary" href="{{ order.pk }}" role="button">Peržiūrėti</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>{% trans "You have no orders." %}</p>
{% endif %}
{% endblock %}
