{% extends "base.html" %}
{% load i18n %}
{% block content %}

  {% if form.errors %}
    <p>{% trans "Login error, please try again!" %}</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>{% trans "You do not have access to this information. You must login." %}</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{% trans "Username:" %} </td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{% trans "Password:" %} </td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="{% blocktrans %}Login{% endblocktrans %}" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  <p><a href="{% url 'password_reset' %}">{% trans "Forgot your password?" %}</a></p>

{% endblock %}